{% extends "matches_all.html" %}

{% block head %}

<div class="well">Today's matches</div>

{% endblock %}


        {% block t_head %}
        <th>Home</th>
        <th></th>
        <th>Away</th>
        <th>Kick-off/Score</th>
        <th>League</th>
        <th>Odds Home-Draw-Away</th>
        <th>Bets</th>
          {% endblock %}

 {% block table %}
    <tbody>
        {% for match in matches %}
      <tr>
        <td><img src="{{match.home_team.logo}}" height="35" width="35"> {{match.home_team}}</td>
        <td style="width:15%">vs</td>
        <td><img src="{{match.away_team.logo}}" height="35" width="35"> {{match.away_team}}</td>
          <td><b>{{match.goals_home}} : {{match.goals_away}}</b></td>
        <td><img src="{{match.home_team.league.logo}}" height="25" width="25"> {{match.home_team.league.name}} </td>
        <td> {{match.odds_home|floatformat:1}} &nbsp;&nbsp;&nbsp;&nbsp;     {{match.odds_draw|floatformat:1}} &nbsp;&nbsp;&nbsp;&nbsp;
            {{match.odds_away|floatformat:1}}</td>
          <td><button><a href="/bet">Place bet</a></button></td>
      </tr>
        {%endfor%}
        {% endblock %}