{% extends "matches_all.html" %}

{% block head %}

<div class="well">Today's matches</div>

{% endblock %}

 {% block table %}
    <tbody>
        {% for match in matches %}
      <tr>
        <td><img src="{{match.home_team.logo}}" height="35" width="35"> {{match.home_team}}</td>
        <td style="width:15%">vs</td>
        <td><img src="{{match.away_team.logo}}" height="35" width="35"> {{match.away_team}}</td>
          <td><b>{{match.goals_home}} : {{match.goals_away}}</b></td>
        <td><img src="{{match.home_team.league.logo}}" height="25" width="25"> {{match.home_team.league.name}} </td>
        <td> {{match.odds_home|floatformat:1}} &nbsp;&nbsp;&nbsp;&nbsp;     {{match.odds_draw}} &nbsp;&nbsp;&nbsp;&nbsp;
            {{match.odds_away}}</td>
      </tr>
        {%endfor%}
        {% endblock %}